<head>
  <script src="index.ts"></script>
</head>
<body>
  <!-- Handsontable requires an inline overflow style for fixed rows/columns to work. -->
    <!-- (see WalkontableOverlay.prototype.getScrollableElement) -->
    <div id="View" style="overflow: auto"></div>
</body>

